body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    margin-left: 25vw;
    width: 50vw;
    height: 100vh;
}